body {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    background: #4a4e69;
    color: #f2e9e4;
    line-height: 1.5;


}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


h1 {
    color: #22223b;
    text-decoration: underline;
    
}

h2 {
    color: #c9ada7;
}

a {
    color: rgb(41, 179, 179);
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
}

a:visited {
    color: #22223b;
}

a:hover,
a:active {
    color: aliceblue;
}

table,
tr,
th,
td,
caption {
    border: 1px solid #eee;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5px;
}